*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  overflow: hidden;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.content {
  float: left;
  width: 75%;
  height: 100%;
  padding-left: 75px;
}

.graph {
  height: 100%;
  position: relative;
}

.graph:before {
  content: attr(data-initial);
  position: absolute;
  top: 50%;
  left: -75px;
  width: 75px;
  font: normal 1.2rem "Open Sans";
  color: #aaaaaa;
  text-align: right;
  padding-right: 10px;
  margin-top: -21px;
}

.viewport {
  width: 100%;
  height: 100%;
  border-left: 1px solid #eeeeee;
  padding-bottom: 24px;
  overflow: auto;
  position: relative;
}

.graph-container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

aside {
  float: right;
  width: 25%;
  height: 100%;
  border-left: 1px solid #eeeeee;
  overflow: auto;
}

aside section {
  border-bottom: 1px solid #eeeeee;
}

aside section:after {
  content: "";
  display: block;
  clear: both;
}

aside section:last-of-type {
  border-bottom: none;
}

aside .full {
  padding: 50px 30px;
}

aside .half {
  float: left;
  width: 50%;
  padding: 30px 15px;
}

aside .half:first-of-type {
  padding-left: 30px;
}

aside section label {
  display: inline-block;
  font: normal 1.4rem/1 "Open Sans Light";
  color: #555555;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 3px;
}

aside section p {
  font: normal 4rem/1 "Aaargh";
  color: #555555;
  white-space: nowrap;
}

aside .full p {
  font-size: 6rem;
}