*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  overflow: hidden;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.content {
  float: left;
  width: 75%;
  height: 100%;
}

aside {
  float: right;
  width: 25%;
  height: 100%;
  border-left: 1px solid #eeeeee;
  overflow: auto;
}

aside section {
  border-bottom: 1px solid #eeeeee;
}

aside section:after {
  content: "";
  display: block;
  clear: both;
}

aside section:last-of-type {
  border-bottom: none;
}

aside .full {
  padding: 50px 30px;
}

aside .half {
  float: left;
  width: 50%;
  padding: 30px 15px;
}

aside .half:first-of-type {
  padding-left: 30px;
}

aside section label {
  display: inline-block;
  font: normal 1.4rem/1 "Open Sans Light";
  color: #555555;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 3px;
}

aside section p {
  font: normal 4rem/1 "Aaargh";
  color: #555555;
  white-space: nowrap;
}

aside .full p {
  font-size: 6rem;
}